main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 300px
}

.display {
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 8px;
  min-height: 48px;
}

.display #current-expression {
  min-height: 20px;
  overflow-wrap: break-word;
}

.display #current-result {
  margin-top: 4px;
  min-height: 22px;
  text-align: right;
  font-size: large;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls .complete {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.controls .complete button {
  width: 128px;
  height: 64px;
  font-size: large;
}

.controls .complete #equals {
  background-color: cornflowerblue;
}

.controls .complete #clear {
  background-color: orange;
}

.controls .inputs {
  display: flex;
  justify-content: space-between;
}

.controls .inputs .grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls .inputs .grid-operators {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.controls .inputs .grid-operators button {
  background-color: pink;
}

.controls .inputs button {
  width: 64px;
  height: 64px;
  background-color: white;
}

.controls .inputs #delete {
  background-color: orange;
}